<div class="rootContainer">
    <header>
        <h1>{{device.deviceName}}</h1></header>
    <h3>{{device.deviceTypeId}}</h3>
    <table>
        <tr>
            <td>
                Failsafe
            </td>
            <td>{{failsafe}}</td>
        </tr>
        <tr>
            <td>
                Temperatur
            </td>
            <td>{{temp}}</td>
        </tr>
        <tr>
            <td>
                Einbauposition
            </td>
            <td>{{einbaupos}}</td>
        </tr>
        <tr>
            <td>
                Geeignet für 19" Schrank
            </td>
            <td>{{inch19}}</td>
        </tr>
        <tr>
            <td>
                Terminal vorhanden
            </td>
            <td>{{terminalExist}}</td>
        </tr>
        <tr>
            <td>
                Erweiterte Umgebungsbedingungen
            </td>
            <td>{{extraBedingung}}</td>
        </tr>
    </table>
    
</div>